<%- layout('layouts/boilerplate') %> 
<h1>Welcome to EverythingBoard</h1>
<p>Post about everything and anything, have discussions with anyone anonymously!</p>
<form action="/boards" method="get">
    <button>Get Started</button>
</form>